<%- include('partials/header') %>

<div class="">
  <h1>enter</h1>

  <form action="/enter" method="post">
    <input type="email" name="username" placeholder="Username">
    <button class="btn btn-lg btn-dark" type="submit" name="name" value="generate">Generate Token</button>
    <button class="btn btn-lg btn-dark" type="submit" name="name" value="liveStatus">Check Current Status</button>
  </form>

</div>

<%- include('partials/footer') %>
